<nav class="navbar bg-body align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 navbar-dark">
    <div class="container-fluid d-flex flex-column p-0">
        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="/admin">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-heart"></i>
            </div>
            <div class="sidebar-brand-text mx-3"><span>CARENet</span></div>
        </a>
        <hr class="sidebar-divider my-0" />
        <ul class="navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item">
                <a class="nav-link" href="/admin">
                    <i class="fas fa-home"></i>
                    <span>Trang chủ</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/categories">
                    <i class="fas fa-th-list"></i>
                    <span>Danh mục</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/programs">
                    <i class="fas fa-project-diagram"></i>
                    <span>Chương trình</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/donations">
                    <i class="fas fa-hand-holding-heart"></i>
                    <span>Quyên góp</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/users">
                    <i class="fas fa-users"></i>
                    <span>Người dùng</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/donors">
                    <i class="fas fa-user-friends"></i>
                    <span>Nhà hảo tâm</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/transactions">
                    <i class="fas fa-exchange-alt"></i>
                    <span>Giao dịch</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/paymentmethods">
                    <i class="fas fa-credit-card"></i>
                    <span>Phương thức thanh toán</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/blogs">
                    <i class="fas fa-blog"></i>
                    <span>Bài viết</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/comments">
                    <i class="fas fa-comments"></i>
                    <span>Bình luận</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/chart">
                    <i class="fas fa-chart-line"></i>
                    <span>Biểu đồ</span>
                </a>
            </li>
        </ul>
    </div>
</nav>